@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Lead Tracker+</h1>
    <p class="lead">A tool to track leads and their associated customers and projects.</p>
    <p><a href="~/Leads" class="btn btn-primary btn-lg">Leads &raquo;</a></p>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Projects</h2>
        <p>
            Projects contain one or more leads.
        </p>
        <p><a class="btn btn-default" href="~/Projects">Projects &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Customers</h2>
        <p>Leads have customers and customers have contacts.</p>
        <p><a class="btn btn-default" href="~/Customers">Customers &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Employees</h2>
        <p>Leads are assigned to an employee.</p>
        <p><a class="btn btn-default" href="~/Employees">Employees &raquo;</a></p>
    </div>
</div>